*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    min-height: 100%;
    min-width: 100%;
}

body {
    /* background-image: linear-gradient( 109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% ); */
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}


a{
    text-decoration: none !important;
    color: inherit !important;
}

.test-card{

    padding: 1rem;
    background-color: #f5f7fa;
    color: #000;
    height: 100px;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);
    border-radius: 8px;
    cursor: pointer;

}

.test-container{
    gap: 20px;
    width: min(90%, 950px);
}

.test-card h5{
    text-transform: capitalize;
}

.test-card p{
    color: grey;
    font-size: 13px;
    margin-top: 16px;
}

.button-container{
    margin-top: 10%;
}

.delete-button{

    top: 13px;
    right: 9px;
}

.delete-button svg{
    color: grey;
}

.form-wrapper{
    /* border: 1px solid black; */
    margin-top: 150px !important;
}
.form-container{
    width: min(400px, 97%);
}

.form-control:focus{
    border: none;
    box-shadow: none;
}

.dialog-box{

    width: min(500px, 100%);
    /* border: 1px solid black; */
    background-color: #f5f7fa;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);
    border-radius: 8px;
    padding: 1rem;
}

.quiz{

    align-self: center;
    margin: 0 3%;
    width: min(500px, 97%);

}

.container{

    background-color: white;
    padding:8% 10%;
    border-radius: 8px;
    width: 100%;
}

.sbtn{
    width:100%;
    border:none;
    outline: none;
    padding: 5%;
    background-color: #4370E7;
    border-radius: 0px 0px 8px 8px;
    color:white;
    font-size: 1rem;
}

.sbtn:hover{
    background-color: #2f58c9;
}

.btnc{
    margin-top:-1%;
    width: 100%;
}
li{
    list-style-type: none;
    margin: 5% 0;
    font-size: 1rem;
}

ul{
    padding-left: 0 !important;
}
input[type="radio"]
{
    accent-color: #4370E7;
    width: 10%;
    height: 1em;
    vertical-align: middle;
}
.result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: white;
    padding: 1% 2%;
    border-radius: 8px;
    max-width: 500px;
    text-align: center;
    letter-spacing: 3px;
    font-family: 'Open Sans', sans-serif;
}

.pinkBtn{

    border: none;
    outline: none;
    padding: 1% 5%;
    margin-top: 6%;
    border-radius: 5px;
    font-size: 1.5rem;
    background-color: pink;
    color: #9c3c3c;
    box-shadow: 1px 2px 3px 1px rgb(0,0,0,0.1);
    min-width: 30%;
    margin: 6% auto 3%;
}

.pinkBtn:hover{

    background-color: rgb(251, 169, 183);
}

.loader{
    margin-top: 350px;
}